---
# {{ ansible_managed }}

node-name: {{ inventory_hostname_short }}
{% if k3s_mode != 'server' %}
server: "{{ k3s_url }}"
{% endif %}
{% if k3s_token | d() %}
token: "{{ k3s_token }}"
{% endif %}

flannel-iface: {{ k3s_interface }}
{{ k3s_config | to_nice_yaml }}
