# {{ ansible_managed }}
---
node-name: {{ inventory_hostname_short }}
node-ip: {{ k3s_ip }}
flannel-iface: {{ k3s_interface }}

{% if k3s_mode == "server" %}
bind-address: {{ k3s_ip }}
advertise-address: {{ k3s_ip }}
{%   if k3s_tls_san | d() %}
tls-san: {{ k3s_tls_san | to_yaml }}
{%   endif %}
{#   Specify all components together #}
{%   if k3s_disable | d() %}
disable: {{ k3s_disable | to_yaml }}
{%   endif %}
{% endif -%}

{% if k3s_url | d() %}
server: "{{ k3s_url }}"
{% endif -%}

{% if k3s_token | d() %}
token: "{{ k3s_token }}"
{% endif -%}

{% if k3s_resolv_conf | d() %}
resolv-conf: {{ k3s_resolv_file }}
{% endif -%}

{% if k3s_kubelet_conf | d() %}
kubelet-arg: "config={{ k3s_kubelet_file }}"
{% endif -%}

{# define each label separately #}
{% for label in k3s_labels %}
node-label: {{ label }}
{% endfor -%}

{% for taint in k3s_taints %}
node-taint: {{ taint }}
{% endfor -%}

{% if k3s_external_ip | d() %}
node-external-ip: {{ k3s_external_ip }}
{% endif -%}

{% if k3s_config | d() %}
{{ k3s_config | to_nice_yaml }}
{% endif %}
