# {{ ansible_managed }}
# Firewall rules for k3s service
{% set ipt = '/usr/sbin/iptables' %}
{% set ch = 'in_k3s' %}
{% set in_rule = 'INPUT -i ' ~ k3s_interface ~ ' -j ' ~ ch %}

[Service]
# Setup ref to chain
ExecStartPre=!-{{ ipt }} -N {{ ch }}
ExecStartPre=!{{ ipt }} -F {{ ch }}
ExecStartPre=!-{{ ipt }} -D {{ in_rule }}
ExecStartPre=!{{ ipt }} -A {{ in_rule }}

# Chain contents
{% if k3s_mode == 'server' %}
ExecStartPre=!{{ ipt }} -A {{ ch }} -i {{ k3s_interface }} -p tcp --dport 6443 -j ACCEPT
{% endif %}
ExecStartPre=!{{ ipt }} -A {{ ch }} -i {{ k3s_interface }} -p udp --dport 8472 -j ACCEPT
ExecStartPre=!{{ ipt }} -A {{ ch }} -i {{ k3s_interface }} -p tcp --dport 10250 -j ACCEPT
ExecStartPost=!{{ ipt }} -A {{ ch }} -i cni0 -j ACCEPT
{% for rule in k3s_extra_iptables | d %}
ExecStartPre=!-{{ ipt }} -A {{ ch }} {{ rule }}
{% endfor %}

# Cleanup: unref, flush, delete
ExecStopPost=!-{{ ipt }} -D {{ in_rule }}
ExecStopPost=!-{{ ipt }} -F {{ ch }}
ExecStopPost=!-{{ ipt }} -X {{ ch }}
