# {{ ansible_managed }}
# Firewall rules for k3s service
{% set ipt = '/usr/sbin/iptables' %}
{% set ch = 'in_k3s' %}
{% set in_rule = 'INPUT -j ' ~ ch %}
{% set add_rule = ipt ~ ' -A ' ~ ch ~ ' -i ' ~ k3s_interface ~ ' -d ' ~ k3s_ip %}

[Service]
# Setup ref to chain
ExecStartPre=!-{{ ipt }} -N {{ ch }}
ExecStartPre=!{{ ipt }} -F {{ ch }}
ExecStartPre=!-{{ ipt }} -D {{ in_rule }}
ExecStartPre=!{{ ipt }} -A {{ in_rule }}

# Chain contents
{% for rule in k3s_ports | d %}
ExecStartPre=!{{ ipt }} -A {{ ch }} -i {{ k3s_interface }} -d {{ k3s_ip }} -p {{ rule.proto }} --dport {{ rule.port }} -j ACCEPT -m comment --comment {{ rule.name }}
{% endfor %}
{% for rule in k3s_iptables | d %}
ExecStartPre=!-{{ ipt }} -A {{ ch }} {{ rule }}
{% endfor %}

# Cleanup: unref, flush, delete
ExecStopPost=!-{{ ipt }} -D {{ in_rule }}
ExecStopPost=!-{{ ipt }} -F {{ ch }}
ExecStopPost=!-{{ ipt }} -X {{ ch }}
