# {{ ansible_managed }}
# See script at https://get.k3s.io/
[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
BindsTo=sys-subsystem-net-devices-{{ k3s_interface }}.device
After=sys-subsystem-net-devices-{{ k3s_interface }}.device

[Service]
Type=notify
ExecStart=/usr/local/bin/k3s {{ k3s_mode }}
KillMode=process
Delegate=yes
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
IOSchedulingClass=best-effort
IOSchedulingPriority=1
TimeoutStartSec=0
Restart=always
RestartSec=5min

[Install]
WantedBy=multi-user.target

