# environment variables for k3s systemd service
# {{ ansible_managed }}

K3S_URL="{{ k3s_url }}"
{% if k3s_token | d() %}
K3S_TOKEN="{{ k3s_token }}"
{% endif %}

{% for key, val in k3s_env.items() %}
{{ key }}={{ val }}
{% endfor %}
