# environment variables for k3s systemd service
# {{ ansible_managed }}

K3S_URL={{ k3s_url }}
{% if k3s_token | d() %}
K3S_TOKEN_FILE={{ k3s_token_file }}
{% endif %}

{% for key, val in k3s_env.iteritems() %}
{{ key }}={{ val }}
{% endfor %}
